.about {
  & > p:not(:last-child) {
    margin-bottom: $p-spacing;
  }

  &__list {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 2rem;
    margin-left: 2rem;

    @include respond(phone) {
      grid-template-columns: auto;
    }
  }

  &__images-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;

    @include respond(phone) {
      grid-template-columns: auto;
    }
  }

  &__images {
    width: 80%;
    margin: auto;
    margin-top: 2rem;

    & img {
      width: 100%;
      box-shadow: 7px 10px 15px rgba($color: #000000, $alpha: 0.3);
    }
  }
}
