.hire {
  & h2 {
    font-size: 3.5rem;
    text-align: center;
    color: $color-primary;
    text-decoration: underline;
  }

  &__skills {
    max-width: 100rem;
    margin: auto;
    padding: 0rem 3rem;

    & h3 {
      border-bottom: 2px solid rgb(177, 177, 177);
    }
  }

  &__list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(177, 177, 177);

    // margin-left: 2rem;

    @include respond(tab-port) {
      grid-template-columns: auto;
    }
  }

  &__icon {
    color: $header-blue;
    margin-right: 1rem;
  }
}
