.mern {
  // margin-bottom: 2rem;
  border: 5px solid $color-primary;
  border-radius: 10px;
  padding: 2rem;

  &-bg-opacity-layer {
    background-color: white;
    height: 100%;
    width: 100%;
  }
}

$gap-width: 6rem;
$bar-thickness: 1rem;

.mern-grid {
  display: grid;
  grid-template-columns: $bar-thickness 1fr 1fr $bar-thickness;
  gap: 2rem $gap-width;
}

// Column ordering
.mern {
  &-leftBar {
    // leftBar container spacing
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 0;
    border: none;
    height: 80%;
    align-self: center;

    // leftBar children styling

    display: grid;
    grid-template-columns: $bar-thickness $gap-width;
    align-content: space-between;

    &-long {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 4;
      width: $bar-thickness;
      height: 100%;
      background-color: $color-primary;
      border-radius: 10px 0 0 10px;
    }

    &-short {
      grid-column-start: 2;
      grid-column-end: 3;
      width: $gap-width;
      height: $bar-thickness;
      background-color: $color-primary;

      &--2 {
        // align-self: center;
      }
      &--3 {
        // align-self: end;
      }
    }
  }

  &-rightBar {
    // rightBar container spacing
    margin-left: -$gap-width;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 0;
    border: none;
    height: 60%;
    align-self: center;

    // rightBar children styling

    display: grid;
    grid-template-columns: $gap-width $bar-thickness;

    &-long {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 4;
      width: $bar-thickness;
      height: 100%;
      background-color: $color-primary;
      border-radius: 0 10px 10px 0;
    }

    &-short {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 4;
      width: $gap-width;
      height: $bar-thickness;
      background-color: $color-primary;

      &--1 {
        align-self: start;
      }
      &--2 {
        align-self: end;
      }
    }
  }

  &-backend {
    grid-column-start: 2;
    grid-column-end: 4;
    // grid-row-start: 1;
    // grid-row-end: 3;
  }
  &-goalSeeker {
    grid-column-start: 2;
    grid-column-end: 4;
    // grid-row-start: 1;
    // grid-row-end: 4;
  }
  &-contactKeeper {
    grid-column-start: 2;
    grid-column-end: 3;
    // grid-row-start: 1;
    // grid-row-end: 3;
  }
  &-itLogger {
    grid-column-start: 3;
    grid-column-end: 4;
    // grid-row-start: 1;
    // grid-row-end: 3;
  }
}
