section.section-tnd {
  & > h3:first-of-type {
    text-align: center;
    font-size: 3rem;
  }

  & > p:first-of-type {
    text-align: center;
    font-weight: bold;
  }
}

.tnd-grid {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  justify-content: space-evenly;

  @include respond(tab-land) {
    grid-template-columns: auto;
  }
}

.tnd-features {
  h3 {
    text-align: center;
    text-decoration: underline;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__ul {
    padding: 0 3rem;
  }

  &__link-li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: start;
  }

  &__link-title {
    display: inline;
    color: blue;
  }

  & a {
    display: inline;
    // text-align: right;
  }
}

.tnd-screen {
  height: 50rem;
  overflow-y: auto;
  margin: auto;
  box-shadow: 7px 10px 15px rgba($color: #000000, $alpha: 0.3);

  // padding: 0 1rem;
  // width: 40.1rem;
}
